html,
body {
  height: 100%;
  margin: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: #28282b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.nostyle {
  all: unset;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.medium-text {
  font-size: large;
}

hr {
  border: 0.1em solid #28282b;
  background-color: #28282b;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sticky {
  top: 0em;
  left: 0em;
  right: 0em;
  position: -webkit-sticky;
  position: sticky;
  height: auto;
}

.sticky-bottom {
  bottom: 0em;
  left: 0em;
  right: 0em;
  position: -webkit-sticky;
  position: sticky;
  height: auto;
}

.bg-dark {
  background-color: #000;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fade-in-move-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ========== Move in left animation ========== */
@keyframes fade-in-move-left {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-moz-keyframes fade-in-move-left {
  /* Firefox */
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fade-in-move-left {
  /* Safari and Chrome */
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-o-keyframes fade-in-move-left {
  /* Opera */
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* ============================================ */

/* ========== Move in right animation ========== */
@keyframes fade-in-move-right {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes fade-in-move-right {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-move-right {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@-o-keyframes fade-in-move-right {
  from {
    opacity: 0;
    transform: translateX(-70%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ============================================ */

/* ========== Move in down animation ========== */
.animate-fadein {
  animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s; /* Firefox */
  -webkit-animation: fade-in 0.5s; /* Safari and Chrome */
  -o-animation: fade-in 0.5s; /* Opera */
}

@keyframes fade-in-move-down {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes fade-in-move-down {
  from {
    opacity: 0;
    transform: translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fade-in-move-down {
  from {
    opacity: 0;
    transform: translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-o-keyframes fade-in-move-down {
  from {
    opacity: 0;
    transform: translateY(-70%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* ============================================ */
